*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(rungcay.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
font-family: Arial, Helvetica, sans-serif;
color: aliceblue;
}
.signup{
    opacity: 100%;
    box-shadow: 1px 1px 30px black;
    padding: 50px;
    border-radius: 10px;
    /* width: 100%; */
    max-width: 400px;
}
h2{
    display: block;
    text-align: center;
    font-size: 35px;
margin-bottom: 15px;
}
.username input{
    width: 100%;
   
    padding: 10px;
    border-radius: 4px;
    border: 2px ;
    margin-bottom: 10px;
    margin-top: 5px;
transition: border 0.3s ease;
}
.username input:focus{
    border: 0.5px  solid aqua;
    outline: none;
}
.password input{
    width: 100%;
    /* max-width: 400px; */
    padding: 10px;
    border-radius: 4px;
    border: 2px ;
    margin-bottom: 10px;
    /* margin-top: 5px; */
transition: border 0.3s ease;

/* border-color: aqua; */
/* outline: none; */
}
.password input:focus{
    border: 0.5px  solid aqua;
    outline: none;
}
.comfirmpassword input{
    width: 100%;
    /* max-width: 400px; */
    padding: 10px;
    border-radius: 4px;
    border: 2px ;
    margin-bottom: 10px;
    /* margin-top: 5px; */
transition: border 0.3s ease;
}
.comfirmpassword input:focus{
    border: 0.5px  solid aqua;
    outline: none;
}
.signup1{
    width: 100%;
   padding: 10px;
   margin-top: 10px;
   border: none;
   border-radius: 5px;
   background-color: rgb(93, 142, 247);
   color: aliceblue;
   cursor: pointer;
   transition: background-color 0.3s ease;
}
.signup1:hover{
    background-color: rgb(53, 53, 214);
    text-decoration: none;
}
.back{
    width: 100%;  
    padding: 5px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    background-color: rgb(8, 209, 115);
    color: aliceblue;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.back:hover{
    background-color: rgb(19, 158, 54);
    text-decoration: none;
}
div a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin-top: 10px;
}
div a:hover{
    text-decoration: underline;
}
